<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘 해야할 일</title>
    
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>
<body>
    <div>
        오늘 해야할 일 <br>
        <form action="/api/todolist" method="post">
            <textarea id="content" name="content"></textarea><br>
            <input type="submit" id="button" value ="등록">
        </form>
    </div>
    <div>
        <% for (var i = 0;i < todos.length;i++){ %> 
            
                <form action="/api/update/<%=todos[i]._id %>" method="post">
                    <input type="text" name="content" value="<%= todos[i].content %>"> 
                    <%= todos[i].createdAt%>
                    <input type="submit" id="modify_btn" value ="수정">
                </form>
                <form action="/api/remove/<%=todos[i]._id %>" method="post">
                    <input type="submit" id="remove_btn" value ="삭제">
                </form>
                <!-- 수정할때 나오는 창
                <div class="replyModal">
                    <div class="modalContent">
                        <div>
                            <textarea class="modal_repCon" name="modal_repCon"><%= todos[i].content %></textarea>
                        </div>
                        <div>
                            <button type="button" class="modal_modify_btn">수정</button>
                            <button type="button" class="modal_cancel">취소</button>
                        </div>
                        </div>
                    <div class="modalBackground"></div>
                </div> -->
            
        <% } %>
    </div>

    

<!-- <script>
    $(".modify_btn").click(function(){
        
        $(".replyModal").attr("style", "display:block;");

    });
    $(".modal_cancel").click(function(){
        $(".replyModal").attr("style", "display:none;");
    });
</script> -->
</body>
</html>